.register-page {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #1d1d91;
  background-image: url("../../assets/background.png");
  background-repeat: repeat;
  .container {
    width: 90%;
    max-width: 850px;
    min-height: 400px;
    background-color: #f2f2f2;
    margin-top: 100px;
    border-radius: 3px 3px 0 0;
    .title {
      color: #404244;
      font-weight: normal;
      font-size: 20px;
    }
    .login-link {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 20px;
      a {
        text-decoration: none;
        color: #38a8bc;
      }
    }
  }
  .profile-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    .profile-card {
      width: 40%;
      height: 50px;
      border: 1px dashed #ededed;
      margin: 0 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: #f7f4f9;
      }
      &.selected {
        background-color: #6b54b7;
        border: 1px solid #404244;
        color: #f2f2f2;
        &:hover {
          background-color: #6b54b7;
        }
      }
    }
  }
  .subscription-table {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
    .plan-card {
      width: 90%;
      margin: 30px 5%;
      min-height: 200px;
      border: 1px dashed #6b54b7;
      &.selected {
        border: solid #6b54b7;
      }
      .name {
        width: 100%;
        height: 30px;
        text-align: center;
        color: #f2f2f2;
        line-height: 30px;
      }
      ul {
        list-style: none;
        text-align: center;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        li:nth-child(even) {
          background-color: #d1b7f7;
        }
        li:nth-child(odd) {
          background-color: #f9f9f9;
        }
        li {
          width: 100%;
          height: 20px;
        }
      }
    }
  }
  .register-form {
    margin: 20px 0;
    .register-input {
      margin: 5px 0;
    }
  }
  .team-members .register-input {
    margin: 5px 0;
  }
  .loading-step {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.office-container {
  width: 100%;
  height: 400px;
  border: 1px solid #d5e1ed;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  .office {
    fill: #eaeaed;
    cursor: pointer;
    &.busy {
      fill: #e06969;
      cursor: not-allowed;
    }
    &.selected {
      fill: #db8036;
    }
    &.reserved {
      fill: #42c2f4;
    }
  }
  .hall {
    width: 100%;
    border-top: 1px solid #d5e1ed;
    border-bottom: 1px solid #d5e1ed;
    background-color: #e2e2e2;
  }
}
.legend {
  width: 100%;
  .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 0;
  }
  .taken, .selected, .free, .reserved {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  .taken {
    background-color: #e06969;
  }
  .selected {
    background-color: #db8036;
  }
  .reserved {
    background-color: #42c2f4;
  }
  .free {
    border: 1px solid #d5e1ed;
    background-color: #eaeaed;
  }
}
.salect-profile {
  margin-right: 30px;
}
.profile-input {
  margin-top: 20px;
}
.black {
  color: rgb(0,0,0);
}
.workspace-room {
  width: 100%;
  height: auto;
}
