.payments-container {
  width: 100%;
}
.select-user-container {
  display: flex;
  justify-content: center;
}
.method-container {
  label {
    font-size: 12px;
    margin: 10px 0;
    display: inline-block;
  }
}
.select-user {
  width: 25%;
  margin: 15px !important;
}

.select-status {
  width: 100%;
  margin: 15px 0 !important;
  label {
    font-size: 12px;
  }
}
.info {
  font-size: 14px;
  span {
    font-size: 12px;
  }
}
.capitalize {
  text-transform: capitalize;
}
.header-payments {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 30px;
}