.user-home {
  p {
    font-size: 13px;
  }
  b {
    color: #404244;
  }
  .status {
    text-transform: capitalize;
  }
  .payed {
    color: #3a9e51
  }
  .unpaid {
    color: #d34434;
  }
  .processing {
    color: #d36e02;
  }
  .this-is-you {
    color: #3a9e51;
    font-size: 10px;
  }
}
input.card-input {
  width: 100%;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  padding: 2%;
  margin: 5px 0;
}
.choose-method {
  cursor: pointer;
}
.method-container {
  margin-top: 20px;
}